<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="yswl.priv.com.shengqianshopping">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoToolBar"
        tools:replace="android:allowBackup">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoToolBar.Main" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".MainActivityV3"
            android:theme="@style/AppTheme.NoToolBar.Main"></activity>
        <activity
            android:name=".activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoToolBar" />
        <activity android:name=".activity.RecommendActivity" />
        <activity android:name=".activity.AdvanceActivity" />
        <activity android:name=".activity.CrazyBuyActivity" />
        <activity android:name=".activity.Top100Activity" />
        <activity android:name=".activity.SearchActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:noHistory="true">

        </activity>
        <activity
            android:name=".activity.LaunchActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>